[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "antsibull"
version = "0.28.0"
description = "Tools for building the Ansible Distribution"
authors = ["Toshio Kuratomi <a.badger@gmail.com>"]
license = "GPL-3.0-or-later"
readme = "README.md"
repository = "https://github.com/ansible-community/antsibull"
packages = [
    { include = "antsibull" },
    { include = "sphinx_antsibull_ext" },
    { include = "tests", format = "sdist" }
]

[tool.poetry.scripts]
antsibull-build = "antsibull.cli.antsibull_build:main"
antsibull-lint = "antsibull.cli.antsibull_lint:main"
antsibull-docs = "antsibull.cli.antsibull_docs:main"

[tool.poetry.dependencies]
python = "^3.6.0"
aiofiles = "*"
aiohttp = ">= 3.0.0"
jinja2 = "*"
# major/minor was introduced here
packaging = ">= 20.0"
semantic_version = "*"
sh = "*"
docutils = "*"
rstcheck = "^3"
PyYAML = "*"
pydantic = "*"
asyncio-pool = "*"
perky = "*"
antsibull-changelog = ">= 0.7.0"
# 0.5.0 introduces dict_config
twiggy = ">= 0.5.0"
aiocontextvars = {version = "*", python = "~3.6"}
pygments = ">= 2.6.1"
sphinx = "*"

[tool.poetry.dev-dependencies]
asynctest = "^0.13.0"
pytest = "^5.4.1"
pytest-cov = "^2.8.1"
cryptography = "^2.9.2"
pytest-asyncio = ">= 0.12"
flake8 = ">= 3.8.0"
codecov = "^2.0.22"
pyre-check = "^0.0.46"
pylint = "^2.5.2"
mypy = "^0.770"

[tool.isort]
line_length = 100
multi_line_output = 0
balanced_wrapping = true
