# Copyright (C) 2023 Maxwell G <gotmax@e.email>
# SPDX-License-Identifier: GPL-3.0-or-later
# GNU General Public License v3.0+ (see LICENSES/GPL-3.0-or-later.txt or https://www.gnu.org/licenses/gpl-3.0.txt)

asynctest
cryptography
pytest
pytest-asyncio >= 0.12
pytest-cov
