.. Document meta section

:orphan:
{% if edit_on_github_url %}
:github_url: @{ edit_on_github_url }@?description=%23%23%23%23%23%20SUMMARY%0A%3C!---%20Your%20description%20here%20--%3E%0A%0A%0A%23%23%23%23%23%20ISSUE%20TYPE%0A-%20Docs%20Pull%20Request%0A%0A%2Blabel:%20docsite_pr
{% endif %}

.. Document body

.. Anchors

.. _ansible_collections.@{plugin_name}@_@{plugin_type}@:

.. Title

{% set title = plugin_name ~ ' ' ~ plugin_type -%}

@{ title }@
@{ '+' * title|length }@


The documentation for the @{ plugin_type }@ plugin, @{ plugin_name }@,  was malformed.

The errors were:

{% for error in nonfatal_errors %}
* ::

@{ error | indent(width=8, first=True) }@

{% endfor %}

File a bug with the `@{ collection }@ collection <https://galaxy.ansible.com/@{collection | replace(".", "/", 1)}@>`_ in order to have it corrected.
