:orphan:

.. _list_of_plugin_indexes:

Index of all Module/Plugin Indexes
==================================

{% for plugin_type in plugin_types %}
* :ref:`list_of_@{ plugin_type }@_plugins`
{% endfor %}
