:orphan:

.. _list_of_@{ plugin_type }@_plugins:

Index Of All @{ plugin_type | capitalize }@ Plugins
=============@{ '=' * (plugin_type | length) }@========

{% for collection_name, plugins in per_collection_data.items() | sort %}
@{ collection_name }@
@{ '-' * (collection_name | length) }@

{%   for plugin_name, plugin_desc in plugins.items() | sort %}
* :ref:`@{ plugin_name }@ <ansible_collections.@{ collection_name }@.@{ plugin_name }@_@{ plugin_type }@>` -- @{ plugin_desc | rst_ify }@
{%   endfor %}

{% endfor %}
