:orphan:

.. _plugins_in_@{collection_name}@:

@{collection_name.title()}@
@{ '=' * (collection_name | length) }@

{% if collection_version %}
Collection version @{ collection_version }@
{% endif %}

.. toctree::
    :maxdepth: 1

Plugin Index
------------

These are the plugins in the @{collection_name}@ collection

{% for category, plugins in plugin_maps.items() | sort %}

{% if category == 'module' %}
Modules
~~~~~~~
{% else %}
@{ category | capitalize }@ Plugins
@{ '~' * ((category | length) + 8) }@
{% endif %}

{% for name, desc in plugins.items() | sort %}
* :ref:`@{ name }@ <ansible_collections.@{ collection_name }@.@{ name }@_@{ category }@>` -- @{ desc | rst_ify | indent(width=2) }@
{% endfor %}
{% endfor %}


.. seealso::

    List of :ref:`collections <list_of_collections>` with docs hosted here.
