#!/usr/bin/env bash
set -e
cd @{ dest_dir }@

# Create collection documentation into temporary directory
rm -rf temp-rst
mkdir -p temp-rst
{% if use_current %}
{%   if collections | length > 0 %}
antsibull-docs collection \
{%     if fail_on_error %}
    --fail-on-error
{%     endif %}
    --use-current \
{%     if squash_hierarchy %}
    --squash-hierarchy \
{%     endif %}
    --{% if not use_html_blobs %}no-{% endif %}use-html-blobs \
    --{% if not breadcrumbs %}no-{% endif %}breadcrumbs \
    --{% if not indexes %}no-{% endif %}indexes \
    --dest-dir temp-rst \
    @{ ' '.join(collections) }@
{%   else %}
antsibull-docs current \
{%     if fail_on_error %}
    --fail-on-error
{%     endif %}
    --{% if not use_html_blobs %}no-{% endif %}use-html-blobs \
    --{% if not breadcrumbs %}no-{% endif %}breadcrumbs \
    --{% if not indexes %}no-{% endif %}indexes \
    --dest-dir temp-rst
{%   endif %}
{% else %}
antsibull-docs collection \
{%     if fail_on_error %}
    --fail-on-error
{%     endif %}
{%     if collection_version != '@latest' %}
    --collection-version @{ collection_version }@ \
{%     endif %}
{%     if squash_hierarchy %}
    --squash-hierarchy \
{%     endif %}
    --{% if not use_html_blobs %}no-{% endif %}use-html-blobs \
    --{% if not breadcrumbs %}no-{% endif %}breadcrumbs \
    --{% if not indexes %}no-{% endif %}indexes \
    --dest-dir temp-rst \
    @{ ' '.join(collections) }@
{% endif %}

# Copy collection documentation into source directory
{% if squash_hierarchy %}
rsync -cprv --delete-after temp-rst/ rst/
{% else %}
rsync -cprv --delete-after temp-rst/collections/ rst/collections/
{% endif %}

# Build Sphinx site
{% if lenient %}
sphinx-build -M html rst build -c .
{% else %}
sphinx-build -M html rst build -c . -W --keep-going
{% endif %}
