---
# Copyright (c) Ansible Project
# GNU General Public License v3.0+ (see LICENSES/GPL-3.0-or-later.txt or https://www.gnu.org/licenses/gpl-3.0.txt)
# SPDX-License-Identifier: GPL-3.0-or-later

name: antsibull-build tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  # Run once per week (Monday at 04:00 UTC)
  schedule:
    - cron: '0 4 * * 1'

jobs:
  build:
    name: 'Build Ansible community distribution (${{ matrix.name }})'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: Ansible 6 with default settings
            options: '-e antsibull_ansible_version=6.99.0 -e antsibull_ansible_git_version=stable-2.13'
          - name: Ansible 7 with ansible-core devel
            options: '-e antsibull_ansible_version=7.99.0 -e antsibull_ansible_git_version=devel'

    steps:
      - name: Check out antsibull
        uses: actions/checkout@v3
        with:
          path: antsibull

      - name: Check out dependent project antsibull-changelog
        uses: actions/checkout@v3
        with:
          repository: ansible-community/antsibull-changelog
          path: antsibull-changelog

      - name: Check out dependent project antsibull-core
        uses: actions/checkout@v3
        with:
          repository: ansible-community/antsibull-core
          path: antsibull-core

      - name: Check out dependent project antsibull-docs
        uses: actions/checkout@v3
        with:
          repository: ansible-community/antsibull-docs
          path: antsibull-docs

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install poetry ansible-core
          poetry install
          poetry update
          ansible-galaxy collection install 'git+https://github.com/ansible-collections/community.general.git'
        working-directory: antsibull

      - name: "Test building a release: ${{ matrix.name }}"
        run: |
          ansible-playbook -vv playbooks/build-single-release.yaml -e 'antsibull_build_command="poetry run coverage run -p --source antsibull -m antsibull.cli.antsibull_build"' ${{ matrix.options }}
        working-directory: antsibull

      - name: Combine and upload coverage stats
        run: |
          poetry run coverage combine .coverage.*
          poetry run coverage report
          poetry run coverage xml -i
          poetry run codecov
        working-directory: antsibull
